
.credentials-container {
    padding: var(--standard-padding);
}

.credential-item-container {
    display: flex;
    /* padding: var(--standard-padding); */
    justify-content: center;
    align-items: center;
}

.credential-item {
    display: flex;
    padding: var(--standard-padding);
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-background-color);
    border-radius: var(--standard-border-radius);
    margin: 10px;
    border: 3px solid white;
    transition: var(--standard-transition);
}

.credential-item:hover {
    cursor: pointer;
    border: 3px solid var(--primary-color);
}

.credential-item p {
    /* margin: 10px; */
    flex: 1;
}

.credential-item .icon {
    color: black;
    height: var(--standard-icon-size);
    width: var(--standard-icon-size);
    stroke-width: var(--standard-icon-stroke-width);
    margin: var(--standard-margin);
}

@media (max-width: 768px) {

    .credential-item-container {
        display: flex;
        flex-direction: column;
    }

    .credential-item {
        width: 100%;
    }

}