
.credentials-container {
    padding: var(--standard-padding);
    /* margin: var(--standard-margin); */
}

.credential-item-container {
    display: flex;
    padding: var(--standard-padding);
    /* justify-content: center; */
    align-items: center;
}

.credential-item {
    display: flex;
    padding: var(--standard-padding);
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--secondary-background-color);
    border-radius: var(--standard-border-radius);
    margin: var(--standard-margin);
    border: var(--standard-border) solid var(--lighter);
    transition: var(--standard-transition);
}

.credential-item:hover {
    cursor: pointer;
    border: var(--standard-border) solid var(--darker);
    text-decoration: none;
}

.credential-item a {
    flex: 1;
    text-indent: 0;
    color: black;
    text-decoration: none;
}
.credential-item p {
    /* margin: 10px; */
    flex: 1;
    text-indent: 0;
    color: black;
    text-decoration: none;
}

.view-cert {
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}

.view-cert:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    .credential-item-container {
        display: flex;
        flex-direction: column;
    }

    .credential-item {
        width: 100%;
    }

}