
.credentials-container {
    padding: var(--standard-padding);
}

.credential-item-container {
    display: flex;
    padding: var(--standard-padding);
    justify-content: center;
    align-items: center;
}

.credential-item {
    display: flex;
    padding: var(--standard-padding);
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    border-radius: var(--standard-border-radius);
    margin: 10px;
}

.credential-item p {
    margin: 10px;
}

.credential-item .icon {
    color: black;
}

.credential-item .icon:hover {
    cursor: pointer;
}

@media (max-width: 768px) {

    .credential-item-container {
        display: flex;
        flex-direction: column;
    }

}