
.experience-container {
    padding: var(--standard-padding);
}

/* .experience-info {
    padding: var(--standard-padding);
} */

.experience-item {
    width: 100%;
    background-color: var(--secondary-background-color);
    margin-bottom: var(--standard-padding);
    padding: var(--standard-padding);
    border-radius: var(--standard-border-radius);
}

.experience-details {
    text-indent: var(--standard-text-indent);
}

@media (max-width: 768px) {
    .experience-container {
        padding: var(--standard-padding);
    }
}