
.header-container {
    padding: var(--standard-padding);
    /* border: var(--standard-border) solid red; */
    width: 100%;
    background-color: var(--primary-color);
}

.header-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

/* .title {
    margin: var(--standard-margin);
} */

.header-subsection {
    display: flex;
    align-items: baseline;
    /* padding: var(--standard-padding); */
    /* margin: var(--standard-margin); */
}

.item-group {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: var(--standard-padding); */
    /* margin: var(--standard-margin); */
}

.item-group .icon {
    size: var(--standard-icon-size);
    margin: var(--standard-margin);
    stroke-width: var(--standard-icon-stroke-width);
}

.item-group .item {
    /* padding: var(--standard-padding); */
    text-decoration: none;
}


@media (max-width: 768px) {

    .header-title-container {
        text-align: left;
        align-items: flex-start;
    }

    .header-subsection {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: flex-start;
        /* padding: var(--standard-padding); */
    }

    .item-group {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    /* .header-subsection p.middle::before{
        content: "";
        margin: 0px;
    }
    .header-subsection p.middle::after {
        content: "";
        margin: 0px;
    } */

}