
.projects-container {
    padding: var(--standard-padding);
}

.project-item {
    padding: var(--standard-padding);
    background-color: var(--secondary-background-color);
    border-radius: var(--standard-border-radius);
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: var(--standard-border-radius);
    border: 3px solid white;
    margin-bottom: 10px;
}

/* .project-image.rubiks-cube {
    width: 40%;
    display: flex;
    align-self: center;
    margin: 0 auto;
} */

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-link {
    background-color: var(--primary-background-color);
    padding: var(--standard-padding);
    border-radius: var(--standard-border-radius);
    border: 2px solid var(--primary-color);
}

.project-link:hover {
    cursor: pointer;
    border: 2px solid var(--secondary-color);
}

.icon {
    size: var(--standard-icon-size);
    color: black;
}