
.skills-list-container {
    padding: var(--standard-padding);
}


/* .skills-list-title {

} */

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    /* flex: 1; */
    min-width: fit-content;
    background-color: var(--secondary-background-color);
    margin: var(--standard-margin);
    padding: var(--standard-padding);
    border-radius: var(--standard-border-radius);
}