
.summary-container {
    height: fit-content;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding: var(--standard-padding); */
    /* margin: var(--standard-padding); */
    /* border: var(--standard-border) solid red; */
    background-color: var(--secondary-background-color);
    border-radius: var(--standard-border-radius);
}

.avatar-image {
    height: var(--avatar-size);
    width: auto;
    border-radius: var(--standard-border-radius);
    margin: var(--standard-margin);
    /* border-radius: 50%; */
    /* border: var(--standard-border) solid var(--secondary-background-color); */

    /* FOR TRANSPARENT */
    backdrop-filter: blur(10px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.492), var(--primary-color), rgba(0, 0, 0, 0.492));
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.492), rgba(255, 255, 255, 0.263), rgba(0, 0, 0, 0.79)); */
}

.summary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: var(--standard-padding);
    /* border: var(--standard-border) solid red; */
    margin: var(--standard-margin);
    /* background-color: var(--secondary-background-color); */
}

.summary-content p {
    text-indent: var(--standard-text-indent);
    padding: var(--standard-padding);
    border-left: var(--standard-border) solid var(--darker);
    margin: var(--standard-margin);
}

@media (max-width: 768px) {
    
    .summary-container {
        flex-direction: column;
        padding: var(--standard-padding);
    }
    
    .avatar-image {
        width: 100%;
        height: auto;
        border-radius:var(--standard-border-radius);
    }

    .summary-content {
        padding: 0px;
    }

}